    <table class='calendar-per-days' cellspacing="0">
        <thead>
        <tr><th colspan="7" class='row_month'></th>
        </tr>
        <tr>
            <th>Mon</th><th>Tue</th><th>Wed</th>
            <th>Thu</th><th>Fri</th><th>Sat</th>

            <th>Sun</th>
        </tr>
        </thead>
        <tbody class='days-inputs-table'>
        <tr class='row_1'>
        </tr>
        <tr class='row_2'>

        </tr>
        <tr class='row_3'>

        </tr>
        <tr class='row_4'>

        </tr>
        <tr class='row_5'>

        </tr>
        </tbody>
        <tfoot>

        <th>Mon</th><th>Tue</th><th>Wed</th>
        <th>Thu</th><th>Fri</th><th>Sat</th>
        <th>Sun</th>
        </tfoot>
    </table>

    <table cellspacing="0" style='margin: 30px auto;'>
        <tbody>
        <tr>
            <td>
                <div class='per-day-overlimit info-tab'>
                    <span>Overlimit: </span><span class="total"></span>
                    <button class="btn btn-default">Edit</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='per-day-states info-tab'>
                    <div class='per-day-wasted'><span>Wasted: </span><span class="total"></span></div>
                    <div class='per-day-has-left'><span>Left: </span><span class="total"></span></div>

                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <div class="parent-popup-msg">
        <div id='popup-per-diem' class="popup-msg">
            <div class="date"></div>
            <div>Wasted:</div>
            <input type='text'/>
            <button class="payed-all"></button>
            <button class="ok-btn btn btn-default">OK</button>
            <button class="cancel-btn btn btn-default">cancel</button>
        </div>
    </div>

    <div class="parent-popup-msg">
        <div id='popup-overlimit' class="popup-msg">
            <div class="date"></div>
            <div>Overlimit:</div>
            <input type='text'/>
            <button class="ok-btn btn btn-default">OK</button>
            <button class="cancel-btn btn btn-default">cancel</button>
        </div>
    </div>

