#per-diem-days {
  -webkit-transition: all 0.75s;
}
.per-diem-day {
  display: block;
}
.current-month {
  display: block;
}
.calendar-per-days {
  border-collapse: separate;
  border: 1px solid #9DABCE;
  border-width: 0px 0px 2px 0px;
  margin: 20px auto;
  font-size: 20px;
}
.calendar-per-days td,
.calendar-per-days th {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eefb), color-stop(100%, #bac2cc));
  background: -webkit-linear-gradient(top, #e5eefb 0%, #bac2cc 100%);
  color: #444;
  position: relative;
  border: 1px solid #9DACBE;
  /*
        &:hover{
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5eefb), color-stop(100%,#bac2cc));
            background: -webkit-linear-gradient(top, #bac2cc 0%, #e5eefb 100%);
        }
        */
}
.calendar-per-days td:before,
.calendar-per-days th:before {
  content: '';
  position: absolute;
  border: 1px solid #000;
  border: 1px solid #F1F6FD;
  border-right: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.calendar-per-days td.padding,
.calendar-per-days th.padding {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eefb), color-stop(100%, #bac2cc));
  background: -webkit-linear-gradient(top, #bac2cc 0%, #e5eefb 100%);
}
.calendar-per-days td.today,
.calendar-per-days th.today {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eefb), color-stop(100%, #bac2cc));
  background: -webkit-linear-gradient(top, #bac2cc 0%, #e5eefb 100%);
}
.calendar-per-days td.payed-all,
.calendar-per-days th.payed-all {
  background: -webkit-linear-gradient(bottom, #d1961f 0%, #e5eefb 100%);
}
.calendar-per-days td.payed,
.calendar-per-days th.payed {
  background: -webkit-linear-gradient(bottom, #d1961f 0%, #e5eefb 50%);
}
.calendar-per-days td.left,
.calendar-per-days th.left {
  color: #d0d0d0;
  text-shadow: 0px 0px 1px #696969;
  opacity: 0.6;
}
.calendar-per-days th {
  height: 30px;
  font-weight: bold;
  font-size: 14px;
}
.calendar-per-days th:before {
  height: 30px;
}
.calendar-per-days th.row_month {
  font-size: 20px;
}
.info-tab {
  cursor: default;
  background-color: #d1d1d1;
  padding: 30px;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 0px 20px #c4c4c4;
  border-radius: 15px;
  font-size: 30px;
}
.per-day-overlimit {
  display: none;
  white-space: nowrap;
}
.per-day-overlimit button {
  display: none;
}
.per-day-overlimit.not-all-wasted span {
  color: #a0a0a0;
}
.per-day-overlimit.not-all-wasted button {
  display: block;
  float: right;
  font-size: 20px;
  background-color: #c0c0c0;
  margin-top: -5px;
}
.per-day-states .per-day-has-left {
  margin-top: 10px;
}
.parent-popup-msg {
  display: none;
  background: #000;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
.parent-popup-msg .popup-msg {
  border: 1px solid #707070;
  background-color: #d9d9d9;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 13px;
  position: absolute;
  top: 10%;
  margin: 0px auto;
  width: 200px;
  left: 0;
  right: 0;
}
#popup-per-diem input,
#popup-overlimit input {
  width: 100%;
  margin-bottom: 5px;
}
#popup-per-diem button,
#popup-overlimit button {
  width: 100%;
}
#popup-per-diem button.payed-all,
#popup-overlimit button.payed-all {
  color: #D18773;
  margin-bottom: 15px;
}
#popup-per-diem button.ok-btn,
#popup-overlimit button.ok-btn {
  margin-bottom: 3px;
}
#popup-per-diem .date,
#popup-overlimit .date {
  font-weight: 800;
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
}
